<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add</title>
</head>
<body>
    <form action="/add" method="post">
        <input type="text" name="latitude" id="latitude"><br>
        <label for="latitude" class="labels">Latitude</label><br>
        <input type="text" name="longitude" id="longitude"><br>
        <label for="longitude" class="labels">Longitude</label><br>
        <input type="text" name="altitude" id="altiitude"><br>
        <label for="altitude" class="labels">Altitude</label><br>
        <button type="submit">YES
            
        </button>

    </form>
</body>
</html>